body{
	text-align: center;
	background-color: orange;
}
#headersection{
	padding: 5px;
}
#headersection h1{
	font-family: cursive;
}
input{
	padding: 10px;
	border-radius: 5px;
}
#dropbox{
	padding: 10px;
	border-radius: 5px;
	width: 14%;
	font-size: 14px;
}
#login{
	padding: 8px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	font-size: 15px;
}
